Repository Yurickh/gutenpress: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext js,jsx,ts,tsx

♻️ Dogfood mapObject in combine
  packages/gutenpress/core/src/helpers/combine.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

✨ Expose UnionToIntersection in @g/helpers
  packages/gutenpress/helpers/src/UnionToIntersection/index.ts
  packages/gutenpress/helpers/src/fromEntries/index.ts
  packages/gutenpress/helpers/src/index.ts
  packages/gutenpress/helpers/type-tests/UnionToIntersection.test-d.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

💩 Comment out tests related to problem with tsd
  packages/gutenpress/adapt-http/type-tests/index.test-d.ts
  packages/gutenpress/core/type-tests/methods.test-d.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

♻️ Improve types for `combine`
  packages/gutenpress/adapt-http/src/transform-resources-into-router.ts
  packages/gutenpress/core/src/helpers/combine.ts
  packages/gutenpress/core/src/methods.ts
  packages/gutenpress/core/src/types.ts
  packages/gutenpress/core/type-tests/combine.test-d.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

✨ Make wrap types more prone to be autocompletion
  packages/gutenpress/core/src/wrap.ts
  packages/gutenpress/core/type-tests/wrap.test-d.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

✨ Improve types (#27)
  packages/gutenpress/adapt-http/src/transform-resources-into-router.ts
  packages/gutenpress/adapt-http/type-tests/index.test-d.ts
  packages/gutenpress/core/src/helpers/combine.ts
  packages/gutenpress/core/src/methods.ts
  packages/gutenpress/core/src/types.ts
  packages/gutenpress/core/src/wrap.ts
  packages/gutenpress/core/type-tests/combine.test-d.ts
  packages/gutenpress/core/type-tests/methods.test-d.ts
  packages/gutenpress/core/type-tests/wrap.test-d.ts
  packages/gutenpress/helpers/src/UnionToIntersection/index.ts
  packages/gutenpress/helpers/src/fromEntries/index.ts
  packages/gutenpress/helpers/src/index.ts
  packages/gutenpress/helpers/type-tests/UnionToIntersection.test-d.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

v0.0.0-alpha.7
  lerna.json
  packages/examples/express-ts/package.json
  packages/gutenpress/adapt-http/package.json
  packages/gutenpress/core/package.json
  packages/gutenpress/helpers/package.json
Due: prettier --write

📄 Add badges to the documentation
  README.md
Due: prettier --write

📄 Add badges to the documentation (#28)
  README.md
Due: prettier --write

🐛 Fix compatibility issue with express
  packages/examples/express-ts/src/index.ts
  packages/gutenpress/adapt-http/src/transform-resources-into-router.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

📦 Bump packages and resolve prettier to the same version
  packages/examples/express-ts/package.json
  packages/examples/express-ts/yarn.lock
  packages/gutenpress/adapt-http/package.json
  packages/gutenpress/adapt-http/yarn.lock
  packages/gutenpress/core/package.json
  packages/gutenpress/core/yarn.lock
  packages/gutenpress/helpers/package.json
  packages/gutenpress/helpers/yarn.lock
Due: prettier --write

🚨 Update tests with the new type
  packages/gutenpress/adapt-http/type-tests/index.test-d.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

🐛 Fix express compatibility issue (#29)
  packages/examples/express-ts/package.json
  packages/examples/express-ts/src/index.ts
  packages/examples/express-ts/yarn.lock
  packages/gutenpress/adapt-http/package.json
  packages/gutenpress/adapt-http/src/transform-resources-into-router.ts
  packages/gutenpress/adapt-http/type-tests/index.test-d.ts
  packages/gutenpress/adapt-http/yarn.lock
  packages/gutenpress/core/package.json
  packages/gutenpress/core/yarn.lock
  packages/gutenpress/helpers/package.json
  packages/gutenpress/helpers/yarn.lock
Due: prettier --write, eslint --ext js,jsx,ts,tsx

📦 Enable yarn workspaces
  lerna.json
  package.json
  packages/examples/express-ts/yarn.lock
  packages/gutenpress/adapt-http/yarn.lock
  packages/gutenpress/core/yarn.lock
  packages/gutenpress/helpers/yarn.lock
  yarn.lock
Due: prettier --write

📦 Remove now unnecessary resolutions
  packages/gutenpress/adapt-http/package.json
  packages/gutenpress/core/package.json
  packages/gutenpress/helpers/package.json
Due: prettier --write

♻️ Use lerna run when possible
  .github/workflows/main.yml
Due: none

🐛 Fix build script
  .github/workflows/main.yml
  packages/examples/express-ts/package.json
Due: prettier --write

📦 Add workspaces (#30)
  .github/workflows/main.yml
  lerna.json
  package.json
  packages/examples/express-ts/package.json
  packages/examples/express-ts/yarn.lock
  packages/gutenpress/adapt-http/package.json
  packages/gutenpress/adapt-http/yarn.lock
  packages/gutenpress/core/package.json
  packages/gutenpress/core/yarn.lock
  packages/gutenpress/helpers/package.json
  packages/gutenpress/helpers/yarn.lock
  yarn.lock
Due: prettier --write

📄 Add first draft of README.md
  .gitignore
  README.md
  static/philosophy-autocomplete.gif
Due: prettier --write

📄 Add a bit of README
  CONTRIBUTING.md
  README.md
  yarn.lock
Due: prettier --write

📦 Bump dependencies
  yarn.lock
Due: none

fixup! 📄 Add a bit of README
  README.md
  packages/gutenpress/core/src/wrap.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

📦 Bump lerna
  package.json
  yarn.lock
Due: prettier --write

📦 Bump tsdx
  package.json
  packages/examples/express-ts/package.json
  packages/gutenpress/adapt-http/package.json
  packages/gutenpress/core/package.json
  packages/gutenpress/helpers/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,md}
  eslint --ext js,jsx,ts,tsx: any of: *.{ts,tsx,js,jsx}
