Repository Yurickh/gutenpress: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext js,jsx,ts,tsx

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,md}": ["prettier --write"],
  "*.{ts,tsx,js,jsx}": ["eslint --ext js,jsx,ts,tsx"]
}

🗑Cleanup gitignore
  .gitignore
Due: none

📦 Move gutenpress to a packages folder
  packages/gutenpress/package.json
  packages/gutenpress/src/errors.ts
  packages/gutenpress/src/helpers/combine.ts
  packages/gutenpress/src/helpers/fromEntries.ts
  packages/gutenpress/src/helpers/mapObject.ts
  packages/gutenpress/src/index.ts
  packages/gutenpress/src/methods.ts
  packages/gutenpress/src/toRouter.ts
  packages/gutenpress/src/types.ts
  packages/gutenpress/src/wrap.ts
  packages/gutenpress/tsconfig.json
  packages/gutenpress/yarn.lock
Due: prettier --write, eslint --ext js,jsx,ts,tsx

📄 Add MIT License
  LICENSE
Due: none

📦 Add github workflow for testing
  .github/workflows/main.yml
Due: none

📦 Add basic lerna config
  lerna.json
  package.json
Due: prettier --write

♻️ Cleanup package.json
  lerna.json
  package.json
  packages/gutenpress/package.json
  packages/gutenpress/yarn.lock
  yarn.lock
Due: prettier --write

🐛 Make headers mandatory and simple
  packages/gutenpress/src/types.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

📦 Move example package to be its own package
  packages/example-express-ts/package.json
  packages/example-express-ts/src/actions/contact-details/index.ts
  packages/example-express-ts/src/actions/login.ts
  packages/example-express-ts/src/actions/order/create.ts
  packages/example-express-ts/src/actions/order/get.ts
  packages/example-express-ts/src/actions/order/update.ts
  packages/example-express-ts/src/database.ts
  packages/example-express-ts/src/index.ts
  packages/example-express-ts/src/router.ts
  packages/example-express-ts/src/wrappers/authenticate.ts
  packages/example-express-ts/tsconfig.json
  packages/example-express-ts/yarn.lock
Due: prettier --write, eslint --ext js,jsx,ts,tsx

🐛 Add back dev mode to example
  packages/example-express-ts/package.json
  packages/example-express-ts/src/actions/contact-details/index.ts
  packages/example-express-ts/src/actions/login.ts
  packages/example-express-ts/src/actions/order/create.ts
  packages/example-express-ts/src/actions/order/get.ts
  packages/example-express-ts/src/actions/order/update.ts
  packages/example-express-ts/src/index.ts
  packages/example-express-ts/src/wrappers/authenticate.ts
  packages/example-express-ts/tsconfig.json
  packages/example-express-ts/yarn.lock
Due: prettier --write, eslint --ext js,jsx,ts,tsx

📦 Add minimist resolutions
  package.json
  yarn.lock
Due: prettier --write

🐛 Run pipeline with proper tests
  .github/workflows/main.yml
Due: none

📦 Migrate to lerna + tsdx (#10)
  .github/workflows/main.yml
  .gitignore
  LICENSE
  lerna.json
  package.json
  packages/example-express-ts/package.json
  packages/example-express-ts/src/actions/contact-details/index.ts
  packages/example-express-ts/src/actions/login.ts
  packages/example-express-ts/src/actions/order/create.ts
  packages/example-express-ts/src/actions/order/get.ts
  packages/example-express-ts/src/actions/order/update.ts
  packages/example-express-ts/src/database.ts
  packages/example-express-ts/src/index.ts
  packages/example-express-ts/src/router.ts
  packages/example-express-ts/src/wrappers/authenticate.ts
  packages/example-express-ts/tsconfig.json
  packages/example-express-ts/yarn.lock
  packages/gutenpress/package.json
  packages/gutenpress/src/errors.ts
  packages/gutenpress/src/helpers/combine.ts
  packages/gutenpress/src/helpers/fromEntries.ts
  packages/gutenpress/src/helpers/mapObject.ts
  packages/gutenpress/src/index.ts
  packages/gutenpress/src/methods.ts
  packages/gutenpress/src/toRouter.ts
  packages/gutenpress/src/types.ts
  packages/gutenpress/src/wrap.ts
  packages/gutenpress/tsconfig.json
  packages/gutenpress/yarn.lock
Due: prettier --write, eslint --ext js,jsx,ts,tsx

📦 Add typings-tester dependency
  packages/example-express-ts/package.json
  packages/example-express-ts/yarn.lock
  packages/gutenpress/package.json
  packages/gutenpress/yarn.lock
Due: prettier --write

✅ Add first type test for methods
  packages/gutenpress/package.json
  packages/gutenpress/src/methods.ts
  packages/gutenpress/src/types.ts
  packages/gutenpress/type-tests/methods.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

✅ Add tests for context mismatch checking
  packages/gutenpress/type-tests/methods.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

✅ Add type tests to `wrap` method
  packages/gutenpress/src/types.ts
  packages/gutenpress/src/wrap.ts
  packages/gutenpress/type-tests/wrap.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

♻️ Remove code duplication
  packages/gutenpress/src/methods.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

🐛 Change combine so methods on the same path merge together
  packages/gutenpress/src/helpers/combine.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

✨ Add a method to list all orders of a user
  packages/example-express-ts/src/actions/order/list.ts
  packages/example-express-ts/src/router.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

🐛 Run test types in a separate step
  .github/workflows/main.yml
  packages/gutenpress/package.json
Due: prettier --write

✅ Add some tests for typings (#11)
  .github/workflows/main.yml
  packages/example-express-ts/package.json
  packages/example-express-ts/src/actions/order/list.ts
  packages/example-express-ts/src/router.ts
  packages/example-express-ts/yarn.lock
  packages/gutenpress/package.json
  packages/gutenpress/src/helpers/combine.ts
  packages/gutenpress/src/methods.ts
  packages/gutenpress/src/types.ts
  packages/gutenpress/src/wrap.ts
  packages/gutenpress/type-tests/methods.ts
  packages/gutenpress/type-tests/wrap.ts
  packages/gutenpress/yarn.lock
Due: prettier --write, eslint --ext js,jsx,ts,tsx

🙈 Set query type as any
  packages/example-express-ts/src/router.ts
  packages/example-express-ts/src/wrappers/authenticate.ts
  packages/gutenpress/src/types.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

🙈 Set query type as any (#12)
  packages/example-express-ts/src/router.ts
  packages/example-express-ts/src/wrappers/authenticate.ts
  packages/gutenpress/src/types.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

📦 Remove version overrides
  package.json
  yarn.lock
Due: prettier --write

✨ Copy `toRouter` to `gutenpress-adapt-http`
  packages/gutenpress-adapt-http/README.md
  packages/gutenpress-adapt-http/package.json
  packages/gutenpress-adapt-http/src/index.ts
  packages/gutenpress-adapt-http/tsconfig.json
  packages/gutenpress-adapt-http/yarn.lock
  packages/gutenpress/src/index.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

♻️ Change example to consume new package
  packages/example-express-ts/package.json
  packages/example-express-ts/src/router.ts
  packages/example-express-ts/yarn.lock
Due: prettier --write, eslint --ext js,jsx,ts,tsx

📄 Document manual testing
  packages/example-express-ts/README.md
Due: prettier --write

🔥 Remove `toRouter` from gutenpress' api
  packages/gutenpress/src/index.ts
  packages/gutenpress/src/toRouter.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

✨ Add `toRouterWithConfig` function to `adapt-http`
  packages/gutenpress-adapt-http/src/index.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

✅ Add test types to `adapt-http`
  packages/gutenpress-adapt-http/type-tests/index.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

💥 Move `toRouter` to `gutenpress-adapt-http` package (#16)
  packages/example-express-ts/README.md
  packages/example-express-ts/package.json
  packages/example-express-ts/src/router.ts
  packages/gutenpress-adapt-http/README.md
  packages/gutenpress-adapt-http/package.json
  packages/gutenpress-adapt-http/src/index.ts
  packages/gutenpress-adapt-http/tsconfig.json
  packages/gutenpress-adapt-http/type-tests/index.ts
  packages/gutenpress-adapt-http/yarn.lock
  packages/gutenpress/src/index.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

v0.0.0-alpha.2
  lerna.json
  packages/example-express-ts/package.json
  packages/gutenpress-adapt-http/package.json
  packages/gutenpress/package.json
Due: prettier --write

✨ Add helpers packages
  packages/helpers/README.md
  packages/helpers/package.json
  packages/helpers/src/fromEntries/index.spec.ts
  packages/helpers/src/fromEntries/index.ts
  packages/helpers/src/mapObject/index.spec.ts
  packages/helpers/src/mapObject/index.ts
  packages/helpers/tsconfig.json
  packages/helpers/yarn.lock
Due: prettier --write, eslint --ext js,jsx,ts,tsx

📦 Rename packages
  packages/example-express-ts/package.json
  packages/gutenpress-adapt-http/package.json
  packages/gutenpress/package.json
Due: prettier --write

v0.0.0-alpha.3
  lerna.json
  packages/example-express-ts/package.json
  packages/gutenpress-adapt-http/package.json
  packages/gutenpress/package.json
  packages/helpers/package.json
Due: prettier --write

📦 Add git hashes
  packages/gutenpress-adapt-http/package.json
  packages/gutenpress/package.json
  packages/helpers/package.json
Due: prettier --write

♻️ Update references to helpers in core
  packages/gutenpress/core/package.json
  packages/gutenpress/core/src/helpers/combine.ts
  packages/gutenpress/core/src/helpers/fromEntries.ts
  packages/gutenpress/core/src/helpers/mapObject.ts
  packages/gutenpress/core/src/wrap.ts
  packages/gutenpress/helpers/src/index.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

✅ Add type tests to fromEntries
  packages/gutenpress/helpers/package.json
  packages/gutenpress/helpers/type-tests/fromEntries.ts
  packages/gutenpress/helpers/yarn.lock
Due: prettier --write, eslint --ext js,jsx,ts,tsx
