Repository Yurickh/gutenpress: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext js,jsx,ts,tsx

♻️ Break down index into multiple modules
  packages/gutenpress/adapt-http/src/index.ts
  packages/gutenpress/adapt-http/src/resolve.ts
  packages/gutenpress/adapt-http/src/transform-resources-into-router.ts
  packages/gutenpress/adapt-http/src/types.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

✨ Add query-params module
  packages/examples/express-ts/tsconfig.json
  packages/gutenpress/adapt-http/src/query-params.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

🐛 Ignore query string when finding a matching url
  packages/gutenpress/adapt-http/src/findPathInResource.ts
  packages/gutenpress/adapt-http/src/transform-resources-into-router.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

✅ Add debug config to start the example
  .vscode/launch.json
Due: prettier --write

✨ Add support to query params in the path
  packages/gutenpress/adapt-http/package.json
  packages/gutenpress/adapt-http/src/find-path-in-resource.ts
  packages/gutenpress/adapt-http/src/findPathInResource.ts
  packages/gutenpress/adapt-http/src/path-to-regex.ts
  packages/gutenpress/adapt-http/src/query-params.ts
  packages/gutenpress/adapt-http/src/transform-resources-into-router.ts
  packages/gutenpress/adapt-http/tsconfig.json
Due: prettier --write, eslint --ext js,jsx,ts,tsx

📄 Add documentation regarding query use cases
  packages/examples/express-ts/README.md
Due: prettier --write

♻️ Clean up
  packages/gutenpress/adapt-http/src/find-path-in-resource.ts
  packages/gutenpress/adapt-http/src/path-to-regex.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

♻️ 📄 General adding notes and refactors
  packages/gutenpress/adapt-http/src/find-path-in-resource.ts
  packages/gutenpress/adapt-http/src/transform-resources-into-router.ts
  packages/gutenpress/adapt-http/src/types.ts
  packages/gutenpress/core/src/index.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

✨ Add query and path parameters (#18)
  .vscode/launch.json
  packages/examples/express-ts/README.md
  packages/examples/express-ts/tsconfig.json
  packages/gutenpress/adapt-http/package.json
  packages/gutenpress/adapt-http/src/find-path-in-resource.ts
  packages/gutenpress/adapt-http/src/index.ts
  packages/gutenpress/adapt-http/src/path-to-regex.ts
  packages/gutenpress/adapt-http/src/query-params.ts
  packages/gutenpress/adapt-http/src/resolve.ts
  packages/gutenpress/adapt-http/src/transform-resources-into-router.ts
  packages/gutenpress/adapt-http/src/types.ts
  packages/gutenpress/adapt-http/tsconfig.json
  packages/gutenpress/core/src/index.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

📦 Create empty package
  packages/gutenpress/adapt-mappersmith/README.md
  packages/gutenpress/adapt-mappersmith/package.json
  packages/gutenpress/adapt-mappersmith/yarn.lock
Due: prettier --write

✨ Add resource-to-definition
  packages/gutenpress/adapt-mappersmith/package.json
  packages/gutenpress/adapt-mappersmith/src/index.spec.ts
  packages/gutenpress/adapt-mappersmith/src/resource-to-definition.ts
  packages/gutenpress/adapt-mappersmith/tsconfig.json
  packages/gutenpress/adapt-mappersmith/yarn.lock
Due: prettier --write, eslint --ext js,jsx,ts,tsx

✨ Add definition-to-mappersmith
  packages/gutenpress/adapt-mappersmith/src/definition-to-mappersmith.ts
  packages/gutenpress/adapt-mappersmith/src/index.spec.ts
  packages/gutenpress/adapt-mappersmith/src/index.ts
  packages/gutenpress/adapt-mappersmith/src/resource-to-definition.ts
  packages/gutenpress/adapt-mappersmith/src/types.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

WIP
  packages/examples/express-ts/src/index.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

💥 Add `path` parameters
  packages/gutenpress/adapt-http/src/find-path-in-resource.ts
  packages/gutenpress/adapt-http/src/transform-resources-into-router.ts
  packages/gutenpress/core/src/types.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

🐛 Update example to reflect changes in API
  packages/examples/express-ts/src/actions/order/get.ts
  packages/examples/express-ts/src/actions/order/update.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

💥 Break down query params into `path` and `query` (#19)
  packages/examples/express-ts/src/actions/order/get.ts
  packages/examples/express-ts/src/actions/order/update.ts
  packages/gutenpress/adapt-http/src/find-path-in-resource.ts
  packages/gutenpress/adapt-http/src/transform-resources-into-router.ts
  packages/gutenpress/core/src/types.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

v0.0.0-alpha.4
  lerna.json
  packages/examples/express-ts/package.json
  packages/gutenpress/adapt-http/package.json
  packages/gutenpress/core/package.json
  packages/gutenpress/helpers/package.json
Due: prettier --write

📦 Bump packages
  yarn.lock
Due: none

📦 Fix type declaration for @gutenpress/helpers
  packages/examples/express-ts/yarn.lock
  packages/gutenpress/adapt-http/yarn.lock
  packages/gutenpress/helpers/package.json
Due: prettier --write

v0.0.0-alpha.5
  lerna.json
  packages/examples/express-ts/package.json
  packages/gutenpress/adapt-http/package.json
  packages/gutenpress/core/package.json
  packages/gutenpress/helpers/package.json
Due: prettier --write

🐛 Fix lib declaration for @gutenpress/helpers
  packages/gutenpress/helpers/package.json
Due: prettier --write

v0.0.0-alpha.6
  lerna.json
  packages/examples/express-ts/package.json
  packages/gutenpress/adapt-http/package.json
  packages/gutenpress/core/package.json
  packages/gutenpress/helpers/package.json
Due: prettier --write

📄 Add CONTRIBUTING.md
  CONTRIBUTING.md
  yarn.lock
Due: prettier --write

♻️ Run latest prettier in the codebase
  .vscode/launch.json
  lerna.json
  packages/examples/express-ts/src/database.ts
  packages/examples/express-ts/tsconfig.json
  packages/gutenpress/adapt-http/src/find-path-in-resource.ts
  packages/gutenpress/adapt-http/src/path-to-regex.ts
  packages/gutenpress/adapt-http/src/query-params.ts
  packages/gutenpress/adapt-http/src/transform-resources-into-router.ts
  packages/gutenpress/adapt-http/tsconfig.json
  packages/gutenpress/helpers/src/mapObject/index.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

📦 Add tsd to @gutenpress/helpers
  package.json
  packages/gutenpress/helpers/package.json
  packages/gutenpress/helpers/tsconfig.json
  yarn.lock
Due: prettier --write

♻️ Add super complex fromEntries implementation
  packages/gutenpress/helpers/src/fromEntries/index.ts
  packages/gutenpress/helpers/type-tests/fromEntries.test-d.ts
  packages/gutenpress/helpers/type-tests/fromEntries.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

♻️ Add arcane typings to mapObject
  packages/gutenpress/helpers/src/mapObject/index.ts
  packages/gutenpress/helpers/type-tests/mapObject.test-d.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

📦 Remove typings-tester from all packages
  packages/examples/express-ts/package.json
  packages/examples/express-ts/yarn.lock
  packages/gutenpress/adapt-http/package.json
  packages/gutenpress/adapt-http/yarn.lock
  packages/gutenpress/core/package.json
  packages/gutenpress/core/yarn.lock
  packages/gutenpress/helpers/package.json
  packages/gutenpress/helpers/yarn.lock
Due: prettier --write

🚨 Change test types in g/core to use tsd
  packages/gutenpress/core/package.json
  packages/gutenpress/core/tsconfig.json
  packages/gutenpress/core/type-tests/methods.test-d.ts
  packages/gutenpress/core/type-tests/wrap.test-d.ts
  packages/gutenpress/core/type-tests/wrap.ts
  packages/gutenpress/core/yarn.lock
Due: prettier --write, eslint --ext js,jsx,ts,tsx

🚨 Migrate test-types to tsd in g/adapt-http
  packages/gutenpress/adapt-http/package.json
  packages/gutenpress/adapt-http/tsconfig.json
  packages/gutenpress/adapt-http/type-tests/index.test-d.ts
  packages/gutenpress/adapt-http/type-tests/index.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

♻️ Let CI run test:types in example as well
  .github/workflows/main.yml
  packages/examples/express-ts/package.json
Due: prettier --write

🐛 Fix combine.ts
  packages/gutenpress/core/src/helpers/combine.ts
  packages/gutenpress/core/type-tests/combine.test-d.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

🐛 Remove the need to explictly define the return type for fromEntries in query-params
  packages/gutenpress/adapt-http/src/query-params.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

📦 Change typings-tester for tsd (#24)
  .github/workflows/main.yml
  .vscode/launch.json
  lerna.json
  package.json
  packages/examples/express-ts/package.json
  packages/examples/express-ts/src/database.ts
  packages/examples/express-ts/tsconfig.json
  packages/examples/express-ts/yarn.lock
  packages/gutenpress/adapt-http/package.json
  packages/gutenpress/adapt-http/src/find-path-in-resource.ts
  packages/gutenpress/adapt-http/src/path-to-regex.ts
  packages/gutenpress/adapt-http/src/query-params.ts
  packages/gutenpress/adapt-http/src/transform-resources-into-router.ts
  packages/gutenpress/adapt-http/tsconfig.json
  packages/gutenpress/adapt-http/type-tests/index.test-d.ts
  packages/gutenpress/adapt-http/type-tests/index.ts
  packages/gutenpress/adapt-http/yarn.lock
  packages/gutenpress/core/package.json
  packages/gutenpress/core/src/helpers/combine.ts
  packages/gutenpress/core/tsconfig.json
  packages/gutenpress/core/type-tests/combine.test-d.ts
  packages/gutenpress/core/type-tests/methods.test-d.ts
  packages/gutenpress/core/type-tests/wrap.test-d.ts
  packages/gutenpress/core/type-tests/wrap.ts
  packages/gutenpress/core/yarn.lock
  packages/gutenpress/helpers/package.json
  packages/gutenpress/helpers/src/fromEntries/index.ts
  packages/gutenpress/helpers/src/mapObject/index.ts
  packages/gutenpress/helpers/tsconfig.json
  packages/gutenpress/helpers/type-tests/fromEntries.test-d.ts
  packages/gutenpress/helpers/type-tests/fromEntries.ts
  packages/gutenpress/helpers/type-tests/mapObject.test-d.ts
  packages/gutenpress/helpers/yarn.lock
  yarn.lock
Due: prettier --write, eslint --ext js,jsx,ts,tsx

📦 Bump dependencies
  package.json
  yarn.lock
Due: prettier --write

🐛 Fix lint configuration
  packages/examples/express-ts/package.json
  packages/gutenpress/adapt-http/package.json
  packages/gutenpress/core/package.json
  packages/gutenpress/helpers/package.json
Due: prettier --write

📦 Bump dependencies (#25)
  package.json
  packages/examples/express-ts/package.json
  packages/gutenpress/adapt-http/package.json
  packages/gutenpress/core/package.json
  packages/gutenpress/helpers/package.json
  yarn.lock
Due: prettier --write

♻️ Make nested wraps work
  packages/gutenpress/core/src/wrap.ts
  packages/gutenpress/core/type-tests/wrap.test-d.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

♻️ Update methods so they keep the knowledge about the available methods
  packages/gutenpress/core/src/methods.ts
  packages/gutenpress/core/type-tests/methods.test-d.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

🐛 Fix failing wrap test
  packages/gutenpress/core/type-tests/wrap.test-d.ts
Due: prettier --write, eslint --ext js,jsx,ts,tsx

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,md}
  eslint --ext js,jsx,ts,tsx: any of: *.{ts,tsx,js,jsx}
